body {
	margin: 0;
	font-family: Masque;
}
header#main {
	position: fixed;
	background-color: #000;
	height: 75px;
	width: 100%;
	z-index: 2;
}
header#main a.logo {
	top: 5px;
	left: 8px;
	z-index: 1;
	position: absolute;
}
img.car-thumbnails {
	width: 200px;
	height: 175px;
	border: 2px solid #610a0a;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
nav {
	float: left;
	width: 15%;
	background-color: #636363;
	position: fixed;
	top: 64px;
	left: 0;
	bottom: 0;
}
nav header h2 {
	margin-top: 50px;
	font-family: Masque;
	font-size: 2em;
}
nav ul {
	margin: 0;
	list-style: none;
	color: #FF6600;
	font-size: 30px;
	font-family: Masque;
}
nav ul p {
	margin: 0;
	font-weight: bold;
	font-family: Masque;
}
nav ul a {
	color: #FF6600;
	font-family: Masque;
}
section#main {
	float: left;
	width: 80%;
	margin-left: 270px;
	margin-top: 90px
}
header h1 {
	color: #ff6600;
	margin-top: 10px;
	margin-left: 120px;
	font-size: 3em
	font-family: Masque;
}